<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <last_profile_path>C:\Developpement\Clavicom\Ressources\Profiles\default.cpl</last_profile_path>
  <default_profile_name>default.cpl</default_profile_name>
  <language_ui>french.clg</language_ui>
  <dictionary_name>french_standard.cdc</dictionary_name>
  <transparency>
    <keyboard_transparency>1.0</keyboard_transparency>
  </transparency>
  <sound>
    <on_defil active="true" />
    <on_click active="true" />
    <on_survol active="true" />
    <on_mouse_delay active="true" />
    <on_start active="false" />
  </sound>
  <navigation>
    <type value="STANDARD" />
    <rollover active="false" />
    <mouse_speed value="85" />
    <click_tempo value="837" />
    <defil_tempo value="1267" />
    <mouse_mouve_on_entered active="false" />
  </navigation>
  <prefered_words active="false" />
</settings>

